section.top.sec-slide
    h3.text-left Boas práticas nos testes

    ul.list-left
        li Nomeie o teste baseado na sua detecção.
        li Evite testes muito grandes.
        li Teste um comportamento por vez.
        li Cuidado para não criar um teste inútil.
        li Crie Mocks de serviços externos.
        li Escolhas os asserts devidos.