section.top.sec-slide
    h3.text-left E2E tests

    p(style="margin-top:50px").text-left.
        

    ul.list-left
        li Menos ruído entre os testes (Isolamento).
        li Testa exatamente o que se propõe e facilita o debug.