doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/titulo
				include ../slides/sobre
				include ../slides/globoesporte
				include ../slides/o-que-faco
		include inc/scripts
